# Data loading, storage, and file formats

In [1]:
from __future__ import division
from numpy.random import randn
import numpy as np
import os
import sys
import matplotlib.pyplot as plt
np.random.seed(12345)
plt.rc('figure', figsize=(10, 6))
from pandas import Series, DataFrame
import pandas as pd
np.set_printoptions(precision=4)

In [2]:
%pwd

'/Users/imc023/Documents/PycharmProjects/pydata-book/pydata-book'

## Reading and Writing Data in Text Format

In [3]:
!cat ch06/ex1.csv

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [4]:
df = pd.read_csv('ch06/ex1.csv')
df

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>a</th>
      <th>b</th>
      <th>c</th>
      <th>d</th>
      <th>message</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
      <td>hello</td>
    </tr>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>6</td>
      <td>7</td>
      <td>8</td>
      <td>world</td>
    </tr>
    <tr>
      <th>2</th>
      <td>9</td>
      <td>10</td>
      <td>11</td>
      <td>12</td>
      <td>foo</td>
    </tr>
  </tbody>
</table>
</div>

In [5]:
pd.read_table('ch06/ex1.csv', sep=',')

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>a</th>
      <th>b</th>
      <th>c</th>
      <th>d</th>
      <th>message</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
      <td>hello</td>
    </tr>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>6</td>
      <td>7</td>
      <td>8</td>
      <td>world</td>
    </tr>
    <tr>
      <th>2</th>
      <td>9</td>
      <td>10</td>
      <td>11</td>
      <td>12</td>
      <td>foo</td>
    </tr>
  </tbody>
</table>
</div>

In [6]:
!cat ch06/ex2.csv

1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [8]:
pd.read_csv('ch06/ex2.csv', header=None)
pd.read_csv('ch06/ex2.csv', names=['a', 'b', 'c', 'd', 'message'])

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>a</th>
      <th>b</th>
      <th>c</th>
      <th>d</th>
      <th>message</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
      <td>hello</td>
    </tr>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>6</td>
      <td>7</td>
      <td>8</td>
      <td>world</td>
    </tr>
    <tr>
      <th>2</th>
      <td>9</td>
      <td>10</td>
      <td>11</td>
      <td>12</td>
      <td>foo</td>
    </tr>
  </tbody>
</table>
</div>

In [9]:
names = ['a', 'b', 'c', 'd', 'message']
pd.read_csv('ch06/ex2.csv', names=names, index_col='message')

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>a</th>
      <th>b</th>
      <th>c</th>
      <th>d</th>
    </tr>
    <tr>
      <th>message</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>hello</th>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
    </tr>
    <tr>
      <th>world</th>
      <td>5</td>
      <td>6</td>
      <td>7</td>
      <td>8</td>
    </tr>
    <tr>
      <th>foo</th>
      <td>9</td>
      <td>10</td>
      <td>11</td>
      <td>12</td>
    </tr>
  </tbody>
</table>
</div>

In [10]:
!cat ch06/csv_mindex.csv
parsed = pd.read_csv('ch06/csv_mindex.csv', index_col=['key1', 'key2'])
parsed

key1,key2,value1,value2
one,a,1,2
one,b,3,4
one,c,5,6
one,d,7,8
two,a,9,10
two,b,11,12
two,c,13,14
two,d,15,16

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>value1</th>
      <th>value2</th>
    </tr>
    <tr>
      <th>key1</th>
      <th>key2</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th rowspan="4" valign="top">one</th>
      <th>a</th>
      <td>1</td>
      <td>2</td>
    </tr>
    <tr>
      <th>b</th>
      <td>3</td>
      <td>4</td>
    </tr>
    <tr>
      <th>c</th>
      <td>5</td>
      <td>6</td>
    </tr>
    <tr>
      <th>d</th>
      <td>7</td>
      <td>8</td>
    </tr>
    <tr>
      <th rowspan="4" valign="top">two</th>
      <th>a</th>
      <td>9</td>
      <td>10</td>
    </tr>
    <tr>
      <th>b</th>
      <td>11</td>
      <td>12</td>
    </tr>
    <tr>
      <th>c</th>
      <td>13</td>
      <td>14</td>
    </tr>
    <tr>
      <th>d</th>
      <td>15</td>
      <td>16</td>
    </tr>
  </tbody>
</table>
</div>

In [11]:
list(open('ch06/ex3.txt'))

['            A         B         C\n',
 'aaa -0.264438 -1.026059 -0.619500\n',
 'bbb  0.927272  0.302904 -0.032399\n',
 'ccc -0.264273 -0.386314 -0.217601\n',
 'ddd -0.871858 -0.348382  1.100491\n']

In [12]:
result = pd.read_table('ch06/ex3.txt', sep='\s+')
result

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>A</th>
      <th>B</th>
      <th>C</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>aaa</th>
      <td>-0.264438</td>
      <td>-1.026059</td>
      <td>-0.619500</td>
    </tr>
    <tr>
      <th>bbb</th>
      <td>0.927272</td>
      <td>0.302904</td>
      <td>-0.032399</td>
    </tr>
    <tr>
      <th>ccc</th>
      <td>-0.264273</td>
      <td>-0.386314</td>
      <td>-0.217601</td>
    </tr>
    <tr>
      <th>ddd</th>
      <td>-0.871858</td>
      <td>-0.348382</td>
      <td>1.100491</td>
    </tr>
  </tbody>
</table>
</div>

In [13]:
!cat ch06/ex4.csv
pd.read_csv('ch06/ex4.csv', skiprows=[0, 2, 3])

# hey!
a,b,c,d,message
# just wanted to make things more difficult for you
# who reads CSV files with computers, anyway?
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>a</th>
      <th>b</th>
      <th>c</th>
      <th>d</th>
      <th>message</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
      <td>hello</td>
    </tr>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>6</td>
      <td>7</td>
      <td>8</td>
      <td>world</td>
    </tr>
    <tr>
      <th>2</th>
      <td>9</td>
      <td>10</td>
      <td>11</td>
      <td>12</td>
      <td>foo</td>
    </tr>
  </tbody>
</table>
</div>

In [16]:
!cat ch06/ex5.csv
result = pd.read_csv('ch06/ex5.csv')
result
pd.isnull(result)

something,a,b,c,d,message
one,1,2,3,4,NA
two,5,6,,8,world
three,9,10,11,12,foo

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>something</th>
      <th>a</th>
      <th>b</th>
      <th>c</th>
      <th>d</th>
      <th>message</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>True</td>
    </tr>
    <tr>
      <th>1</th>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>True</td>
      <td>False</td>
      <td>False</td>
    </tr>
    <tr>
      <th>2</th>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
    </tr>
  </tbody>
</table>
</div>

In [17]:
result = pd.read_csv('ch06/ex5.csv', na_values=['NULL'])
result

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>something</th>
      <th>a</th>
      <th>b</th>
      <th>c</th>
      <th>d</th>
      <th>message</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>one</td>
      <td>1</td>
      <td>2</td>
      <td>3.0</td>
      <td>4</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1</th>
      <td>two</td>
      <td>5</td>
      <td>6</td>
      <td>NaN</td>
      <td>8</td>
      <td>world</td>
    </tr>
    <tr>
      <th>2</th>
      <td>three</td>
      <td>9</td>
      <td>10</td>
      <td>11.0</td>
      <td>12</td>
      <td>foo</td>
    </tr>
  </tbody>
</table>
</div>

In [18]:
sentinels = {'message': ['foo', 'NA'], 'something': ['two']}
pd.read_csv('ch06/ex5.csv', na_values=sentinels)

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>something</th>
      <th>a</th>
      <th>b</th>
      <th>c</th>
      <th>d</th>
      <th>message</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>one</td>
      <td>1</td>
      <td>2</td>
      <td>3.0</td>
      <td>4</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1</th>
      <td>NaN</td>
      <td>5</td>
      <td>6</td>
      <td>NaN</td>
      <td>8</td>
      <td>world</td>
    </tr>
    <tr>
      <th>2</th>
      <td>three</td>
      <td>9</td>
      <td>10</td>
      <td>11.0</td>
      <td>12</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>
</div>

### Reading text files in pieces

In [19]:
result = pd.read_csv('ch06/ex6.csv')
result

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>one</th>
      <th>two</th>
      <th>three</th>
      <th>four</th>
      <th>key</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0.467976</td>
      <td>-0.038649</td>
      <td>-0.295344</td>
      <td>-1.824726</td>
      <td>L</td>
    </tr>
    <tr>
      <th>1</th>
      <td>-0.358893</td>
      <td>1.404453</td>
      <td>0.704965</td>
      <td>-0.200638</td>
      <td>B</td>
    </tr>
    <tr>
      <th>2</th>
      <td>-0.501840</td>
      <td>0.659254</td>
      <td>-0.421691</td>
      <td>-0.057688</td>
      <td>G</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0.204886</td>
      <td>1.074134</td>
      <td>1.388361</td>
      <td>-0.982404</td>
      <td>R</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0.354628</td>
      <td>-0.133116</td>
      <td>0.283763</td>
      <td>-0.837063</td>
      <td>Q</td>
    </tr>
    <tr>
      <th>5</th>
      <td>1.817480</td>
      <td>0.742273</td>
      <td>0.419395</td>
      <td>-2.251035</td>
      <td>Q</td>
    </tr>
    <tr>
      <th>6</th>
      <td>-0.776764</td>
      <td>0.935518</td>
      <td>-0.332872</td>
      <td>-1.875641</td>
      <td>U</td>
    </tr>
    <tr>
      <th>7</th>
      <td>-0.913135</td>
      <td>1.530624</td>
      <td>-0.572657</td>
      <td>0.477252</td>
      <td>K</td>
    </tr>
    <tr>
      <th>8</th>
      <td>0.358480</td>
      <td>-0.497572</td>
      <td>-0.367016</td>
      <td>0.507702</td>
      <td>S</td>
    </tr>
    <tr>
      <th>9</th>
      <td>-1.740877</td>
      <td>-1.160417</td>
      <td>-1.637830</td>
      <td>2.172201</td>
      <td>G</td>
    </tr>
    <tr>
      <th>10</th>
      <td>0.240564</td>
      <td>-0.328249</td>
      <td>1.252155</td>
      <td>1.072796</td>
      <td>8</td>
    </tr>
    <tr>
      <th>11</th>
      <td>0.764018</td>
      <td>1.165476</td>
      <td>-0.639544</td>
      <td>1.495258</td>
      <td>R</td>
    </tr>
    <tr>
      <th>12</th>
      <td>0.571035</td>
      <td>-0.310537</td>
      <td>0.582437</td>
      <td>-0.298765</td>
      <td>1</td>
    </tr>
    <tr>
      <th>13</th>
      <td>2.317658</td>
      <td>0.430710</td>
      <td>-1.334216</td>
      <td>0.199679</td>
      <td>P</td>
    </tr>
    <tr>
      <th>14</th>
      <td>1.547771</td>
      <td>-1.119753</td>
      <td>-2.277634</td>
      <td>0.329586</td>
      <td>J</td>
    </tr>
    <tr>
      <th>15</th>
      <td>-1.310608</td>
      <td>0.401719</td>
      <td>-1.000987</td>
      <td>1.156708</td>
      <td>E</td>
    </tr>
    <tr>
      <th>16</th>
      <td>-0.088496</td>
      <td>0.634712</td>
      <td>0.153324</td>
      <td>0.415335</td>
      <td>B</td>
    </tr>
    <tr>
      <th>17</th>
      <td>-0.018663</td>
      <td>-0.247487</td>
      <td>-1.446522</td>
      <td>0.750938</td>
      <td>A</td>
    </tr>
    <tr>
      <th>18</th>
      <td>-0.070127</td>
      <td>-1.579097</td>
      <td>0.120892</td>
      <td>0.671432</td>
      <td>F</td>
    </tr>
    <tr>
      <th>19</th>
      <td>-0.194678</td>
      <td>-0.492039</td>
      <td>2.359605</td>
      <td>0.319810</td>
      <td>H</td>
    </tr>
    <tr>
      <th>20</th>
      <td>-0.248618</td>
      <td>0.868707</td>
      <td>-0.492226</td>
      <td>-0.717959</td>
      <td>W</td>
    </tr>
    <tr>
      <th>21</th>
      <td>-1.091549</td>
      <td>-0.867110</td>
      <td>-0.647760</td>
      <td>-0.832562</td>
      <td>C</td>
    </tr>
    <tr>
      <th>22</th>
      <td>0.641404</td>
      <td>-0.138822</td>
      <td>-0.621963</td>
      <td>-0.284839</td>
      <td>C</td>
    </tr>
    <tr>
      <th>23</th>
      <td>1.216408</td>
      <td>0.992687</td>
      <td>0.165162</td>
      <td>-0.069619</td>
      <td>V</td>
    </tr>
    <tr>
      <th>24</th>
      <td>-0.564474</td>
      <td>0.792832</td>
      <td>0.747053</td>
      <td>0.571675</td>
      <td>I</td>
    </tr>
    <tr>
      <th>25</th>
      <td>1.759879</td>
      <td>-0.515666</td>
      <td>-0.230481</td>
      <td>1.362317</td>
      <td>S</td>
    </tr>
    <tr>
      <th>26</th>
      <td>0.126266</td>
      <td>0.309281</td>
      <td>0.382820</td>
      <td>-0.239199</td>
      <td>L</td>
    </tr>
    <tr>
      <th>27</th>
      <td>1.334360</td>
      <td>-0.100152</td>
      <td>-0.840731</td>
      <td>-0.643967</td>
      <td>6</td>
    </tr>
    <tr>
      <th>28</th>
      <td>-0.737620</td>
      <td>0.278087</td>
      <td>-0.053235</td>
      <td>-0.950972</td>
      <td>J</td>
    </tr>
    <tr>
      <th>29</th>
      <td>-1.148486</td>
      <td>-0.986292</td>
      <td>-0.144963</td>
      <td>0.124362</td>
      <td>Y</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>9970</th>
      <td>0.633495</td>
      <td>-0.186524</td>
      <td>0.927627</td>
      <td>0.143164</td>
      <td>4</td>
    </tr>
    <tr>
      <th>9971</th>
      <td>0.308636</td>
      <td>-0.112857</td>
      <td>0.762842</td>
      <td>-1.072977</td>
      <td>1</td>
    </tr>
    <tr>
      <th>9972</th>
      <td>-1.627051</td>
      <td>-0.978151</td>
      <td>0.154745</td>
      <td>-1.229037</td>
      <td>Z</td>
    </tr>
    <tr>
      <th>9973</th>
      <td>0.314847</td>
      <td>0.097989</td>
      <td>0.199608</td>
      <td>0.955193</td>
      <td>P</td>
    </tr>
    <tr>
      <th>9974</th>
      <td>1.666907</td>
      <td>0.992005</td>
      <td>0.496128</td>
      <td>-0.686391</td>
      <td>S</td>
    </tr>
    <tr>
      <th>9975</th>
      <td>0.010603</td>
      <td>0.708540</td>
      <td>-1.258711</td>
      <td>0.226541</td>
      <td>K</td>
    </tr>
    <tr>
      <th>9976</th>
      <td>0.118693</td>
      <td>-0.714455</td>
      <td>-0.501342</td>
      <td>-0.254764</td>
      <td>K</td>
    </tr>
    <tr>
      <th>9977</th>
      <td>0.302616</td>
      <td>-2.011527</td>
      <td>-0.628085</td>
      <td>0.768827</td>
      <td>H</td>
    </tr>
    <tr>
      <th>9978</th>
      <td>-0.098572</td>
      <td>1.769086</td>
      <td>-0.215027</td>
      <td>-0.053076</td>
      <td>A</td>
    </tr>
    <tr>
      <th>9979</th>
      <td>-0.019058</td>
      <td>1.964994</td>
      <td>0.738538</td>
      <td>-0.883776</td>
      <td>F</td>
    </tr>
    <tr>
      <th>9980</th>
      <td>-0.595349</td>
      <td>0.001781</td>
      <td>-1.423355</td>
      <td>-1.458477</td>
      <td>M</td>
    </tr>
    <tr>
      <th>9981</th>
      <td>1.392170</td>
      <td>-1.396560</td>
      <td>-1.425306</td>
      <td>-0.847535</td>
      <td>H</td>
    </tr>
    <tr>
      <th>9982</th>
      <td>-0.896029</td>
      <td>-0.152287</td>
      <td>1.924483</td>
      <td>0.365184</td>
      <td>6</td>
    </tr>
    <tr>
      <th>9983</th>
      <td>-2.274642</td>
      <td>-0.901874</td>
      <td>1.500352</td>
      <td>0.996541</td>
      <td>N</td>
    </tr>
    <tr>
      <th>9984</th>
      <td>-0.301898</td>
      <td>1.019906</td>
      <td>1.102160</td>
      <td>2.624526</td>
      <td>I</td>
    </tr>
    <tr>
      <th>9985</th>
      <td>-2.548389</td>
      <td>-0.585374</td>
      <td>1.496201</td>
      <td>-0.718815</td>
      <td>D</td>
    </tr>
    <tr>
      <th>9986</th>
      <td>-0.064588</td>
      <td>0.759292</td>
      <td>-1.568415</td>
      <td>-0.420933</td>
      <td>E</td>
    </tr>
    <tr>
      <th>9987</th>
      <td>-0.143365</td>
      <td>-1.111760</td>
      <td>-1.815581</td>
      <td>0.435274</td>
      <td>2</td>
    </tr>
    <tr>
      <th>9988</th>
      <td>-0.070412</td>
      <td>-1.055921</td>
      <td>0.338017</td>
      <td>-0.440763</td>
      <td>X</td>
    </tr>
    <tr>
      <th>9989</th>
      <td>0.649148</td>
      <td>0.994273</td>
      <td>-1.384227</td>
      <td>0.485120</td>
      <td>Q</td>
    </tr>
    <tr>
      <th>9990</th>
      <td>-0.370769</td>
      <td>0.404356</td>
      <td>-1.051628</td>
      <td>-1.050899</td>
      <td>8</td>
    </tr>
    <tr>
      <th>9991</th>
      <td>-0.409980</td>
      <td>0.155627</td>
      <td>-0.818990</td>
      <td>1.277350</td>
      <td>W</td>
    </tr>
    <tr>
      <th>9992</th>
      <td>0.301214</td>
      <td>-1.111203</td>
      <td>0.668258</td>
      <td>0.671922</td>
      <td>A</td>
    </tr>
    <tr>
      <th>9993</th>
      <td>1.821117</td>
      <td>0.416445</td>
      <td>0.173874</td>
      <td>0.505118</td>
      <td>X</td>
    </tr>
    <tr>
      <th>9994</th>
      <td>0.068804</td>
      <td>1.322759</td>
      <td>0.802346</td>
      <td>0.223618</td>
      <td>H</td>
    </tr>
    <tr>
      <th>9995</th>
      <td>2.311896</td>
      <td>-0.417070</td>
      <td>-1.409599</td>
      <td>-0.515821</td>
      <td>L</td>
    </tr>
    <tr>
      <th>9996</th>
      <td>-0.479893</td>
      <td>-0.650419</td>
      <td>0.745152</td>
      <td>-0.646038</td>
      <td>E</td>
    </tr>
    <tr>
      <th>9997</th>
      <td>0.523331</td>
      <td>0.787112</td>
      <td>0.486066</td>
      <td>1.093156</td>
      <td>K</td>
    </tr>
    <tr>
      <th>9998</th>
      <td>-0.362559</td>
      <td>0.598894</td>
      <td>-1.843201</td>
      <td>0.887292</td>
      <td>G</td>
    </tr>
    <tr>
      <th>9999</th>
      <td>-0.096376</td>
      <td>-1.012999</td>
      <td>-0.657431</td>
      <td>-0.573315</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
<p>10000 rows × 5 columns</p>
</div>

In [20]:
pd.read_csv('ch06/ex6.csv', nrows=5)

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>one</th>
      <th>two</th>
      <th>three</th>
      <th>four</th>
      <th>key</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0.467976</td>
      <td>-0.038649</td>
      <td>-0.295344</td>
      <td>-1.824726</td>
      <td>L</td>
    </tr>
    <tr>
      <th>1</th>
      <td>-0.358893</td>
      <td>1.404453</td>
      <td>0.704965</td>
      <td>-0.200638</td>
      <td>B</td>
    </tr>
    <tr>
      <th>2</th>
      <td>-0.501840</td>
      <td>0.659254</td>
      <td>-0.421691</td>
      <td>-0.057688</td>
      <td>G</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0.204886</td>
      <td>1.074134</td>
      <td>1.388361</td>
      <td>-0.982404</td>
      <td>R</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0.354628</td>
      <td>-0.133116</td>
      <td>0.283763</td>
      <td>-0.837063</td>
      <td>Q</td>
    </tr>
  </tbody>
</table>
</div>

In [21]:
chunker = pd.read_csv('ch06/ex6.csv', chunksize=1000)
chunker

In [23]:
chunker = pd.read_csv('ch06/ex6.csv', chunksize=1000)

tot = Series([])
for piece in chunker:
    tot = tot.add(piece['key'].value_counts(), fill_value=0)

tot = tot.sort_index(ascending=False)

In [24]:
tot[:10]

Z    288.0
Y    314.0
X    364.0
W    305.0
V    328.0
U    326.0
T    304.0
S    308.0
R    318.0
Q    340.0
dtype: float64

### Writing data out to text format

In [25]:
data = pd.read_csv('ch06/ex5.csv')
data

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>something</th>
      <th>a</th>
      <th>b</th>
      <th>c</th>
      <th>d</th>
      <th>message</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>one</td>
      <td>1</td>
      <td>2</td>
      <td>3.0</td>
      <td>4</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1</th>
      <td>two</td>
      <td>5</td>
      <td>6</td>
      <td>NaN</td>
      <td>8</td>
      <td>world</td>
    </tr>
    <tr>
      <th>2</th>
      <td>three</td>
      <td>9</td>
      <td>10</td>
      <td>11.0</td>
      <td>12</td>
      <td>foo</td>
    </tr>
  </tbody>
</table>
</div>

In [27]:
data.to_csv('ch06/out.csv')
!cat ch06/out.csv

,something,a,b,c,d,message
0,one,1,2,3.0,4,
1,two,5,6,,8,world
2,three,9,10,11.0,12,foo

In [28]:
data.to_csv(sys.stdout, sep='|')

|something|a|b|c|d|message
0|one|1|2|3.0|4|
1|two|5|6||8|world
2|three|9|10|11.0|12|foo

In [29]:
data.to_csv(sys.stdout, na_rep='NULL')

,something,a,b,c,d,message
0,one,1,2,3.0,4,NULL
1,two,5,6,NULL,8,world
2,three,9,10,11.0,12,foo

In [30]:
data.to_csv(sys.stdout, index=False, header=False)

one,1,2,3.0,4,
two,5,6,,8,world
three,9,10,11.0,12,foo

In [31]:
data.to_csv(sys.stdout, index=False, columns=['a', 'b', 'c'])

a,b,c
1,2,3.0
5,6,
9,10,11.0

In [ ]:
dates = pd.date_range('1/1/2000', periods=7)
ts = Series(np.arange(7), index=dates)
ts.to_csv('ch06/tseries.csv')
!cat ch06/tseries.csv

In [33]:
Series.from_csv('ch06/tseries.csv', parse_dates=True)

2000-01-01    0
2000-01-02    1
2000-01-03    2
2000-01-04    3
2000-01-05    4
2000-01-06    5
2000-01-07    6
dtype: int64

### Manually working with delimited formats

In [34]:
!cat ch06/ex7.csv

"a","b","c"
"1","2","3"
"1","2","3","4"

In [3]:
import csv
f = open('ch06/ex7.csv')

reader = csv.reader(f)

In [36]:
for line in reader:
    print(line)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3', '4']

In [37]:
lines = list(csv.reader(open('ch06/ex7.csv')))
header, values = lines[0], lines[1:]
data_dict = {h: v for h, v in zip(header, zip(*values))}
data_dict

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

In [38]:
class my_dialect(csv.Dialect):
    lineterminator = '\n'
    delimiter = ';'
    quotechar = '"'
    quoting = csv.QUOTE_MINIMAL

In [39]:
with open('mydata.csv', 'w') as f:
    writer = csv.writer(f, dialect=my_dialect)
    writer.writerow(('one', 'two', 'three'))
    writer.writerow(('1', '2', '3'))
    writer.writerow(('4', '5', '6'))
    writer.writerow(('7', '8', '9'))

In [40]:
%cat mydata.csv

one;two;three
1;2;3
4;5;6
7;8;9

### JSON data

In [5]:
obj = """
{"name": "Wes",
 "places_lived": ["United States", "Spain", "Germany"],
 "pet": null,
 "siblings": [{"name": "Scott", "age": 25, "pet": "Zuko"},
              {"name": "Katie", "age": 33, "pet": "Cisco"}]
}
"""

In [6]:
import json
result = json.loads(obj)
result

{'name': 'Wes',
 'pet': None,
 'places_lived': ['United States', 'Spain', 'Germany'],
 'siblings': [{'age': 25, 'name': 'Scott', 'pet': 'Zuko'},
  {'age': 33, 'name': 'Katie', 'pet': 'Cisco'}]}

In [44]:
asjson = json.dumps(result)
print(asjson)

{"name": "Wes", "places_lived": ["United States", "Spain", "Germany"], "pet": null, "siblings": [{"name": "Scott", "age": 25, "pet": "Zuko"}, {"name": "Katie", "age": 33, "pet": "Cisco"}]}

In [45]:
siblings = DataFrame(result['siblings'], columns=['name', 'age'])
siblings

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>name</th>
      <th>age</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Scott</td>
      <td>25</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Katie</td>
      <td>33</td>
    </tr>
  </tbody>
</table>
</div>

### XML and HTML, Web scraping

**NB. The Yahoo! Finance API has changed and this example no longer works**

In [10]:
from lxml.html import parse
from urllib.request import urlopen

parsed = parse(urlopen('https://finance.yahoo.com/q/op?s=AAPL+Options'))

doc = parsed.getroot()

In [11]:
links = doc.findall('.//a')
links[15:20]

[<Element a at 0x10a4ee818>,
 <Element a at 0x10a4ee868>,
 <Element a at 0x10a4ee8b8>,
 <Element a at 0x10a4ee908>,
 <Element a at 0x10a4ee958>]

In [12]:
lnk = links[28]
print(lnk)
print(lnk.get('href'))
lnk.text_content()

<Element a at 0x10a4eec28>
/quote/^DJI?p=^DJI

'Dow 30'

In [13]:
urls = [lnk.get('href') for lnk in doc.findall('.//a')]
urls[-10:]

['https://smallbusiness.yahoo.com',
 'https://help.yahoo.com/kb/index?page=content&y=PROD_FIN_DESK&locale=en_US&id=SLN2310',
 'https://help.yahoo.com/kb/index?page=content&y=PROD_FIN_DESK&locale=en_US',
 'https://yahoo.uservoice.com/forums/382977',
 'http://info.yahoo.com/privacy/us/yahoo/',
 'http://info.yahoo.com/relevantads/',
 'http://info.yahoo.com/legal/us/yahoo/utos/utos-173.html',
 'https://twitter.com/YahooFinance',
 'https://facebook.com/yahoofinance',
 'http://yahoofinance.tumblr.com']

In [16]:
tables = doc.findall('.//table')
print(tables)
calls = tables[1]
puts = tables[2]

[<Element table at 0x10a502d18>, <Element table at 0x10a502db8>, <Element table at 0x10a502e08>]

In [17]:
rows = calls.findall('.//tr')

In [18]:
def _unpack(row, kind='td'):
    elts = row.findall('.//%s' % kind)
    return [val.text_content() for val in elts]

In [19]:
print(_unpack(rows[0], kind='th'))
_unpack(rows[1], kind='td')

['Contract Name', 'Last Trade Date', 'Strike', 'Last Price', 'Bid', 'Ask', 'Change', '% Change', 'Volume', 'Open Interest', 'Implied Volatility']

['AAPL170818C00002500',
 '2017-08-15 11:52AM EDT',
 '2.50',
 '158.80',
 '0.00',
 '0.00',
 '0.00',
 '-',
 '285',
 '0',
 '0.00%']

In [20]:
from pandas.io.parsers import TextParser

def parse_options_data(table):
    rows = table.findall('.//tr')
    header = _unpack(rows[0], kind='th')
    data = [_unpack(r) for r in rows[1:]]
    return TextParser(data, names=header).get_chunk()

In [21]:
call_data = parse_options_data(calls)
put_data = parse_options_data(puts)
call_data[:10]

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Contract Name</th>
      <th>Last Trade Date</th>
      <th>Strike</th>
      <th>Last Price</th>
      <th>Bid</th>
      <th>Ask</th>
      <th>Change</th>
      <th>% Change</th>
      <th>Volume</th>
      <th>Open Interest</th>
      <th>Implied Volatility</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>AAPL170818C00002500</td>
      <td>2017-08-15 11:52AM EDT</td>
      <td>2.5</td>
      <td>158.80</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.0</td>
      <td>-</td>
      <td>285</td>
      <td>0</td>
      <td>0.00%</td>
    </tr>
    <tr>
      <th>1</th>
      <td>AAPL170818C00005000</td>
      <td>2017-08-15 1:24PM EDT</td>
      <td>5.0</td>
      <td>156.80</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.0</td>
      <td>-</td>
      <td>294</td>
      <td>0</td>
      <td>0.00%</td>
    </tr>
    <tr>
      <th>2</th>
      <td>AAPL170818C00007500</td>
      <td>2017-08-15 11:57AM EDT</td>
      <td>7.5</td>
      <td>153.80</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.0</td>
      <td>-</td>
      <td>327</td>
      <td>0</td>
      <td>0.00%</td>
    </tr>
    <tr>
      <th>3</th>
      <td>AAPL170818C00010000</td>
      <td>2017-08-11 5:09PM EDT</td>
      <td>10.0</td>
      <td>151.18</td>
      <td>146.90</td>
      <td>148.15</td>
      <td>0.0</td>
      <td>-</td>
      <td>283</td>
      <td>0</td>
      <td>0.00%</td>
    </tr>
    <tr>
      <th>4</th>
      <td>AAPL170818C00015000</td>
      <td>2017-08-09 1:51PM EDT</td>
      <td>15.0</td>
      <td>145.97</td>
      <td>141.90</td>
      <td>143.15</td>
      <td>0.0</td>
      <td>-</td>
      <td>20</td>
      <td>0</td>
      <td>0.00%</td>
    </tr>
    <tr>
      <th>5</th>
      <td>AAPL170818C00017500</td>
      <td>2017-08-09 1:53PM EDT</td>
      <td>17.5</td>
      <td>143.47</td>
      <td>139.40</td>
      <td>140.65</td>
      <td>0.0</td>
      <td>-</td>
      <td>20</td>
      <td>0</td>
      <td>0.00%</td>
    </tr>
    <tr>
      <th>6</th>
      <td>AAPL170818C00035000</td>
      <td>2017-08-09 1:53PM EDT</td>
      <td>35.0</td>
      <td>125.99</td>
      <td>121.90</td>
      <td>123.15</td>
      <td>0.0</td>
      <td>-</td>
      <td>20</td>
      <td>0</td>
      <td>0.00%</td>
    </tr>
    <tr>
      <th>7</th>
      <td>AAPL170818C00040000</td>
      <td>2017-08-09 1:54PM EDT</td>
      <td>40.0</td>
      <td>121.07</td>
      <td>116.90</td>
      <td>118.15</td>
      <td>0.0</td>
      <td>-</td>
      <td>5</td>
      <td>0</td>
      <td>0.00%</td>
    </tr>
    <tr>
      <th>8</th>
      <td>AAPL170818C00045000</td>
      <td>2017-08-09 1:54PM EDT</td>
      <td>45.0</td>
      <td>116.05</td>
      <td>111.90</td>
      <td>113.15</td>
      <td>0.0</td>
      <td>-</td>
      <td>20</td>
      <td>0</td>
      <td>0.00%</td>
    </tr>
    <tr>
      <th>9</th>
      <td>AAPL170818C00050000</td>
      <td>2017-08-09 2:34PM EDT</td>
      <td>50.0</td>
      <td>110.70</td>
      <td>104.65</td>
      <td>105.90</td>
      <td>0.0</td>
      <td>-</td>
      <td>960</td>
      <td>0</td>
      <td>0.00%</td>
    </tr>
  </tbody>
</table>
</div>

#### Parsing XML with lxml.objectify

In [25]:
%cd ch06/mta_perf

/Users/imc023/Documents/PycharmProjects/pydata-book/pydata-book/ch06/mta_perf

In [26]:
!head -21 Performance_MNR.xml

<?xml  version="1.0" encoding="ISO-8859-1"?>
<PERFORMANCE>
<INDICATOR>
  <INDICATOR_SEQ>28445</INDICATOR_SEQ>
  <PARENT_SEQ></PARENT_SEQ>
  <AGENCY_NAME>Metro-North Railroad</AGENCY_NAME>
  <INDICATOR_NAME>On-Time Performance (West of Hudson)</INDICATOR_NAME>
  <DESCRIPTION>Percent of commuter trains that arrive at their destinations within 5 minutes and 59 seconds of the scheduled time. West of Hudson services include the Pascack Valley and Port Jervis lines. Metro-North Railroad contracts with New Jersey Transit to operate service on these lines.
</DESCRIPTION>
  <PERIOD_YEAR>2008</PERIOD_YEAR>
  <PERIOD_MONTH>1</PERIOD_MONTH>
  <CATEGORY>Service Indicators</CATEGORY>
  <FREQUENCY>M</FREQUENCY>
  <DESIRED_CHANGE>U</DESIRED_CHANGE>
  <INDICATOR_UNIT>%</INDICATOR_UNIT>
  <DECIMAL_PLACES>1</DECIMAL_PLACES>
  <YTD_TARGET>95.00</YTD_TARGET>
  <YTD_ACTUAL>96.90</YTD_ACTUAL>
  <MONTHLY_TARGET>95.00</MONTHLY_TARGET>
  <MONTHLY_ACTUAL>96.90</MONTHLY_ACTUAL>
</INDICATOR>

In [27]:
from lxml import objectify

path = 'Performance_MNR.xml'
parsed = objectify.parse(open(path))
root = parsed.getroot()

In [28]:
data = []

skip_fields = ['PARENT_SEQ', 'INDICATOR_SEQ',
               'DESIRED_CHANGE', 'DECIMAL_PLACES']

for elt in root.INDICATOR:
    el_data = {}
    for child in elt.getchildren():
        if child.tag in skip_fields:
            continue
        el_data[child.tag] = child.pyval
    data.append(el_data)

In [29]:
perf = DataFrame(data)
perf

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>AGENCY_NAME</th>
      <th>CATEGORY</th>
      <th>DESCRIPTION</th>
      <th>FREQUENCY</th>
      <th>INDICATOR_NAME</th>
      <th>INDICATOR_UNIT</th>
      <th>MONTHLY_ACTUAL</th>
      <th>MONTHLY_TARGET</th>
      <th>PERIOD_MONTH</th>
      <th>PERIOD_YEAR</th>
      <th>YTD_ACTUAL</th>
      <th>YTD_TARGET</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Metro-North Railroad</td>
      <td>Service Indicators</td>
      <td>Percent of commuter trains that arrive at thei...</td>
      <td>M</td>
      <td>On-Time Performance (West of Hudson)</td>
      <td>%</td>
      <td>96.9</td>
      <td>95</td>
      <td>1</td>
      <td>2008</td>
      <td>96.9</td>
      <td>95</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Metro-North Railroad</td>
      <td>Service Indicators</td>
      <td>Percent of commuter trains that arrive at thei...</td>
      <td>M</td>
      <td>On-Time Performance (West of Hudson)</td>
      <td>%</td>
      <td>95</td>
      <td>95</td>
      <td>2</td>
      <td>2008</td>
      <td>96</td>
      <td>95</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Metro-North Railroad</td>
      <td>Service Indicators</td>
      <td>Percent of commuter trains that arrive at thei...</td>
      <td>M</td>
      <td>On-Time Performance (West of Hudson)</td>
      <td>%</td>
      <td>96.9</td>
      <td>95</td>
      <td>3</td>
      <td>2008</td>
      <td>96.3</td>
      <td>95</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Metro-North Railroad</td>
      <td>Service Indicators</td>
      <td>Percent of commuter trains that arrive at thei...</td>
      <td>M</td>
      <td>On-Time Performance (West of Hudson)</td>
      <td>%</td>
      <td>98.3</td>
      <td>95</td>
      <td>4</td>
      <td>2008</td>
      <td>96.8</td>
      <td>95</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Metro-North Railroad</td>
      <td>Service Indicators</td>
      <td>Percent of commuter trains that arrive at thei...</td>
      <td>M</td>
      <td>On-Time Performance (West of Hudson)</td>
      <td>%</td>
      <td>95.8</td>
      <td>95</td>
      <td>5</td>
      <td>2008</td>
      <td>96.6</td>
      <td>95</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Metro-North Railroad</td>
      <td>Service Indicators</td>
      <td>Percent of commuter trains that arrive at thei...</td>
      <td>M</td>
      <td>On-Time Performance (West of Hudson)</td>
      <td>%</td>
      <td>94.4</td>
      <td>95</td>
      <td>6</td>
      <td>2008</td>
      <td>96.2</td>
      <td>95</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Metro-North Railroad</td>
      <td>Service Indicators</td>
      <td>Percent of commuter trains that arrive at thei...</td>
      <td>M</td>
      <td>On-Time Performance (West of Hudson)</td>
      <td>%</td>
      <td>96</td>
      <td>95</td>
      <td>7</td>
      <td>2008</td>
      <td>96.2</td>
      <td>95</td>
    </tr>
    <tr>
      <th>7</th>
      <td>Metro-North Railroad</td>
      <td>Service Indicators</td>
      <td>Percent of commuter trains that arrive at thei...</td>
      <td>M</td>
      <td>On-Time Performance (West of Hudson)</td>
      <td>%</td>
      <td>96.4</td>
      <td>95</td>
      <td>8</td>
      <td>2008</td>
      <td>96.2</td>
      <td>95</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Metro-North Railroad</td>
      <td>Service Indicators</td>
      <td>Percent of commuter trains that arrive at thei...</td>
      <td>M</td>
      <td>On-Time Performance (West of Hudson)</td>
      <td>%</td>
      <td>93.7</td>
      <td>95</td>
      <td>9</td>
      <td>2008</td>
      <td>95.9</td>
      <td>95</td>
    </tr>
    <tr>
      <th>9</th>
      <td>Metro-North Railroad</td>
      <td>Service Indicators</td>
      <td>Percent of commuter trains that arrive at thei...</td>
      <td>M</td>
      <td>On-Time Performance (West of Hudson)</td>
      <td>%</td>
      <td>96.4</td>
      <td>95</td>
      <td>10</td>
      <td>2008</td>
      <td>96</td>
      <td>95</td>
    </tr>
    <tr>
      <th>10</th>
      <td>Metro-North Railroad</td>
      <td>Service Indicators</td>
      <td>Percent of commuter trains that arrive at thei...</td>
      <td>M</td>
      <td>On-Time Performance (West of Hudson)</td>
      <td>%</td>
      <td>96.9</td>
      <td>95</td>
      <td>11</td>
      <td>2008</td>
      <td>96.1</td>
      <td>95</td>
    </tr>
    <tr>
      <th>11</th>
      <td>Metro-North Railroad</td>
      <td>Service Indicators</td>
      <td>Percent of commuter trains that arrive at thei...</td>
      <td>M</td>
      <td>On-Time Performance (West of Hudson)</td>
      <td>%</td>
      <td>95.1</td>
      <td>95</td>
      <td>12</td>
      <td>2008</td>
      <td>96</td>
      <td>95</td>
    </tr>
    <tr>
      <th>12</th>
      <td>Metro-North Railroad</td>
      <td>Service Indicators</td>
      <td>Percent of commuter trains that arrive at thei...</td>
      <td>M</td>
      <td>On-Time Performance (West of Hudson)</td>
      <td>%</td>
      <td>92.6</td>
      <td>96.2</td>
      <td>1</td>
      <td>2009</td>
      <td>92.6</td>
      <td>96.2</td>
    </tr>
    <tr>
      <th>13</th>
      <td>Metro-North Railroad</td>
      <td>Service Indicators</td>
      <td>Percent of commuter trains that arrive at thei...</td>
      <td>M</td>
      <td>On-Time Performance (West of Hudson)</td>
      <td>%</td>
      <td>96.8</td>
      <td>96.2</td>
      <td>2</td>
      <td>2009</td>
      <td>94.6</td>
      <td>96.2</td>
    </tr>
    <tr>
      <th>14</th>
      <td>Metro-North Railroad</td>
      <td>Service Indicators</td>
      <td>Percent of commuter trains that arrive at thei...</td>
      <td>M</td>
      <td>On-Time Performance (West of Hudson)</td>
      <td>%</td>
      <td>96.9</td>
      <td>96.2</td>
      <td>3</td>
      <td>2009</td>
      <td>95.4</td>
      <td>96.2</td>
    </tr>
    <tr>
      <th>15</th>
      <td>Metro-North Railroad</td>
      <td>Service Indicators</td>
      <td>Percent of commuter trains that arrive at thei...</td>
      <td>M</td>
      <td>On-Time Performance (West of Hudson)</td>
      <td>%</td>
      <td>97.1</td>
      <td>96.2</td>
      <td>4</td>
      <td>2009</td>
      <td>95.9</td>
      <td>96.2</td>
    </tr>
    <tr>
      <th>16</th>
      <td>Metro-North Railroad</td>
      <td>Service Indicators</td>
      <td>Percent of commuter trains that arrive at thei...</td>
      <td>M</td>
      <td>On-Time Performance (West of Hudson)</td>
      <td>%</td>
      <td>97.8</td>
      <td>96.2</td>
      <td>5</td>
      <td>2009</td>
      <td>96.2</td>
      <td>96.2</td>
    </tr>
    <tr>
      <th>17</th>
      <td>Metro-North Railroad</td>
      <td>Service Indicators</td>
      <td>Percent of commuter trains that arrive at thei...</td>
      <td>M</td>
      <td>On-Time Performance (West of Hudson)</td>
      <td>%</td>
      <td>97.3</td>
      <td>96.2</td>
      <td>6</td>
      <td>2009</td>
      <td>96.4</td>
      <td>96.2</td>
    </tr>
    <tr>
      <th>18</th>
      <td>Metro-North Railroad</td>
      <td>Service Indicators</td>
      <td>Percent of commuter trains that arrive at thei...</td>
      <td>M</td>
      <td>On-Time Performance (West of Hudson)</td>
      <td>%</td>
      <td>96.7</td>
      <td>96.2</td>
      <td>7</td>
      <td>2009</td>
      <td>96.5</td>
      <td>96.2</td>
    </tr>
    <tr>
      <th>19</th>
      <td>Metro-North Railroad</td>
      <td>Service Indicators</td>
      <td>Percent of commuter trains that arrive at thei...</td>
      <td>M</td>
      <td>On-Time Performance (West of Hudson)</td>
      <td>%</td>
      <td>95.7</td>
      <td>96.2</td>
      <td>8</td>
      <td>2009</td>
      <td>96.4</td>
      <td>96.2</td>
    </tr>
    <tr>
      <th>20</th>
      <td>Metro-North Railroad</td>
      <td>Service Indicators</td>
      <td>Percent of commuter trains that arrive at thei...</td>
      <td>M</td>
      <td>On-Time Performance (West of Hudson)</td>
      <td>%</td>
      <td>96.1</td>
      <td>96.2</td>
      <td>9</td>
      <td>2009</td>
      <td>96.3</td>
      <td>96.2</td>
    </tr>
    <tr>
      <th>21</th>
      <td>Metro-North Railroad</td>
      <td>Service Indicators</td>
      <td>Percent of commuter trains that arrive at thei...</td>
      <td>M</td>
      <td>On-Time Performance (West of Hudson)</td>
      <td>%</td>
      <td>94.8</td>
      <td>96.2</td>
      <td>10</td>
      <td>2009</td>
      <td>96.2</td>
      <td>96.2</td>
    </tr>
    <tr>
      <th>22</th>
      <td>Metro-North Railroad</td>
      <td>Service Indicators</td>
      <td>Percent of commuter trains that arrive at thei...</td>
      <td>M</td>
      <td>On-Time Performance (West of Hudson)</td>
      <td>%</td>
      <td>95.7</td>
      <td>96.2</td>
      <td>11</td>
      <td>2009</td>
      <td>96.1</td>
      <td>96.2</td>
    </tr>
    <tr>
      <th>23</th>
      <td>Metro-North Railroad</td>
      <td>Service Indicators</td>
      <td>Percent of commuter trains that arrive at thei...</td>
      <td>M</td>
      <td>On-Time Performance (West of Hudson)</td>
      <td>%</td>
      <td>95</td>
      <td>96.2</td>
      <td>12</td>
      <td>2009</td>
      <td>96</td>
      <td>96.2</td>
    </tr>
    <tr>
      <th>24</th>
      <td>Metro-North Railroad</td>
      <td>Service Indicators</td>
      <td>Percent of commuter trains that arrive at thei...</td>
      <td>M</td>
      <td>On-Time Performance (West of Hudson)</td>
      <td>%</td>
      <td>98</td>
      <td>96.3</td>
      <td>1</td>
      <td>2010</td>
      <td>98</td>
      <td>96.3</td>
    </tr>
    <tr>
      <th>25</th>
      <td>Metro-North Railroad</td>
      <td>Service Indicators</td>
      <td>Percent of commuter trains that arrive at thei...</td>
      <td>M</td>
      <td>On-Time Performance (West of Hudson)</td>
      <td>%</td>
      <td>93</td>
      <td>96.3</td>
      <td>2</td>
      <td>2010</td>
      <td>95.6</td>
      <td>96.3</td>
    </tr>
    <tr>
      <th>26</th>
      <td>Metro-North Railroad</td>
      <td>Service Indicators</td>
      <td>Percent of commuter trains that arrive at thei...</td>
      <td>M</td>
      <td>On-Time Performance (West of Hudson)</td>
      <td>%</td>
      <td>96.9</td>
      <td>96.3</td>
      <td>3</td>
      <td>2010</td>
      <td>96.1</td>
      <td>96.3</td>
    </tr>
    <tr>
      <th>27</th>
      <td>Metro-North Railroad</td>
      <td>Service Indicators</td>
      <td>Percent of commuter trains that arrive at thei...</td>
      <td>M</td>
      <td>On-Time Performance (West of Hudson)</td>
      <td>%</td>
      <td>98.1</td>
      <td>96.3</td>
      <td>4</td>
      <td>2010</td>
      <td>96.6</td>
      <td>96.3</td>
    </tr>
    <tr>
      <th>28</th>
      <td>Metro-North Railroad</td>
      <td>Service Indicators</td>
      <td>Percent of commuter trains that arrive at thei...</td>
      <td>M</td>
      <td>On-Time Performance (West of Hudson)</td>
      <td>%</td>
      <td>97.6</td>
      <td>96.3</td>
      <td>5</td>
      <td>2010</td>
      <td>96.8</td>
      <td>96.3</td>
    </tr>
    <tr>
      <th>29</th>
      <td>Metro-North Railroad</td>
      <td>Service Indicators</td>
      <td>Percent of commuter trains that arrive at thei...</td>
      <td>M</td>
      <td>On-Time Performance (West of Hudson)</td>
      <td>%</td>
      <td>97.4</td>
      <td>96.3</td>
      <td>6</td>
      <td>2010</td>
      <td>96.9</td>
      <td>96.3</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>618</th>
      <td>Metro-North Railroad</td>
      <td>Service Indicators</td>
      <td>Percent of the time that escalators are operat...</td>
      <td>M</td>
      <td>Escalator Availability</td>
      <td>%</td>
      <td>94</td>
      <td></td>
      <td>7</td>
      <td>2009</td>
      <td>95.14</td>
      <td></td>
    </tr>
    <tr>
      <th>619</th>
      <td>Metro-North Railroad</td>
      <td>Service Indicators</td>
      <td>Percent of the time that escalators are operat...</td>
      <td>M</td>
      <td>Escalator Availability</td>
      <td>%</td>
      <td>97</td>
      <td></td>
      <td>8</td>
      <td>2009</td>
      <td>95.38</td>
      <td></td>
    </tr>
    <tr>
      <th>620</th>
      <td>Metro-North Railroad</td>
      <td>Service Indicators</td>
      <td>Percent of the time that escalators are operat...</td>
      <td>M</td>
      <td>Escalator Availability</td>
      <td>%</td>
      <td>98.3</td>
      <td></td>
      <td>9</td>
      <td>2009</td>
      <td>95.7</td>
      <td></td>
    </tr>
    <tr>
      <th>621</th>
      <td>Metro-North Railroad</td>
      <td>Service Indicators</td>
      <td>Percent of the time that escalators are operat...</td>
      <td>M</td>
      <td>Escalator Availability</td>
      <td>%</td>
      <td>98.7</td>
      <td></td>
      <td>10</td>
      <td>2009</td>
      <td>96</td>
      <td></td>
    </tr>
    <tr>
      <th>622</th>
      <td>Metro-North Railroad</td>
      <td>Service Indicators</td>
      <td>Percent of the time that escalators are operat...</td>
      <td>M</td>
      <td>Escalator Availability</td>
      <td>%</td>
      <td>98.1</td>
      <td></td>
      <td>11</td>
      <td>2009</td>
      <td>96.21</td>
      <td></td>
    </tr>
    <tr>
      <th>623</th>
      <td>Metro-North Railroad</td>
      <td>Service Indicators</td>
      <td>Percent of the time that escalators are operat...</td>
      <td>M</td>
      <td>Escalator Availability</td>
      <td>%</td>
      <td>100</td>
      <td></td>
      <td>12</td>
      <td>2009</td>
      <td>96.5</td>
      <td></td>
    </tr>
    <tr>
      <th>624</th>
      <td>Metro-North Railroad</td>
      <td>Service Indicators</td>
      <td>Percent of the time that escalators are operat...</td>
      <td>M</td>
      <td>Escalator Availability</td>
      <td>%</td>
      <td>97.95</td>
      <td>97</td>
      <td>1</td>
      <td>2010</td>
      <td>97.95</td>
      <td>97</td>
    </tr>
    <tr>
      <th>625</th>
      <td>Metro-North Railroad</td>
      <td>Service Indicators</td>
      <td>Percent of the time that escalators are operat...</td>
      <td>M</td>
      <td>Escalator Availability</td>
      <td>%</td>
      <td>100</td>
      <td>97</td>
      <td>2</td>
      <td>2010</td>
      <td>98.92</td>
      <td>97</td>
    </tr>
    <tr>
      <th>626</th>
      <td>Metro-North Railroad</td>
      <td>Service Indicators</td>
      <td>Percent of the time that escalators are operat...</td>
      <td>M</td>
      <td>Escalator Availability</td>
      <td>%</td>
      <td>100</td>
      <td>97</td>
      <td>3</td>
      <td>2010</td>
      <td>99.29</td>
      <td>97</td>
    </tr>
    <tr>
      <th>627</th>
      <td>Metro-North Railroad</td>
      <td>Service Indicators</td>
      <td>Percent of the time that escalators are operat...</td>
      <td>M</td>
      <td>Escalator Availability</td>
      <td>%</td>
      <td>100</td>
      <td>97</td>
      <td>4</td>
      <td>2010</td>
      <td>99.47</td>
      <td>97</td>
    </tr>
    <tr>
      <th>628</th>
      <td>Metro-North Railroad</td>
      <td>Service Indicators</td>
      <td>Percent of the time that escalators are operat...</td>
      <td>M</td>
      <td>Escalator Availability</td>
      <td>%</td>
      <td>100</td>
      <td>97</td>
      <td>5</td>
      <td>2010</td>
      <td>99.58</td>
      <td>97</td>
    </tr>
    <tr>
      <th>629</th>
      <td>Metro-North Railroad</td>
      <td>Service Indicators</td>
      <td>Percent of the time that escalators are operat...</td>
      <td>M</td>
      <td>Escalator Availability</td>
      <td>%</td>
      <td>91.21</td>
      <td>97</td>
      <td>6</td>
      <td>2010</td>
      <td>98.19</td>
      <td>97</td>
    </tr>
    <tr>
      <th>630</th>
      <td>Metro-North Railroad</td>
      <td>Service Indicators</td>
      <td>Percent of the time that escalators are operat...</td>
      <td>M</td>
      <td>Escalator Availability</td>
      <td>%</td>
      <td>100</td>
      <td>97</td>
      <td>7</td>
      <td>2010</td>
      <td>98.46</td>
      <td>97</td>
    </tr>
    <tr>
      <th>631</th>
      <td>Metro-North Railroad</td>
      <td>Service Indicators</td>
      <td>Percent of the time that escalators are operat...</td>
      <td>M</td>
      <td>Escalator Availability</td>
      <td>%</td>
      <td>100</td>
      <td>97</td>
      <td>8</td>
      <td>2010</td>
      <td>98.69</td>
      <td>97</td>
    </tr>
    <tr>
      <th>632</th>
      <td>Metro-North Railroad</td>
      <td>Service Indicators</td>
      <td>Percent of the time that escalators are operat...</td>
      <td>M</td>
      <td>Escalator Availability</td>
      <td>%</td>
      <td>95.2</td>
      <td>97</td>
      <td>9</td>
      <td>2010</td>
      <td>98.3</td>
      <td>97</td>
    </tr>
    <tr>
      <th>633</th>
      <td>Metro-North Railroad</td>
      <td>Service Indicators</td>
      <td>Percent of the time that escalators are operat...</td>
      <td>M</td>
      <td>Escalator Availability</td>
      <td>%</td>
      <td>90.91</td>
      <td>97</td>
      <td>10</td>
      <td>2010</td>
      <td>97.55</td>
      <td>97</td>
    </tr>
    <tr>
      <th>634</th>
      <td>Metro-North Railroad</td>
      <td>Service Indicators</td>
      <td>Percent of the time that escalators are operat...</td>
      <td>M</td>
      <td>Escalator Availability</td>
      <td>%</td>
      <td>96.67</td>
      <td>97</td>
      <td>11</td>
      <td>2010</td>
      <td>97.47</td>
      <td>97</td>
    </tr>
    <tr>
      <th>635</th>
      <td>Metro-North Railroad</td>
      <td>Service Indicators</td>
      <td>Percent of the time that escalators are operat...</td>
      <td>M</td>
      <td>Escalator Availability</td>
      <td>%</td>
      <td>90.03</td>
      <td>97</td>
      <td>12</td>
      <td>2010</td>
      <td>96.84</td>
      <td>97</td>
    </tr>
    <tr>
      <th>636</th>
      <td>Metro-North Railroad</td>
      <td>Service Indicators</td>
      <td>Percent of the time that escalators are operat...</td>
      <td>M</td>
      <td>Escalator Availability</td>
      <td>%</td>
      <td>100</td>
      <td>97</td>
      <td>1</td>
      <td>2011</td>
      <td>100</td>
      <td>97</td>
    </tr>
    <tr>
      <th>637</th>
      <td>Metro-North Railroad</td>
      <td>Service Indicators</td>
      <td>Percent of the time that escalators are operat...</td>
      <td>M</td>
      <td>Escalator Availability</td>
      <td>%</td>
      <td>100</td>
      <td>97</td>
      <td>2</td>
      <td>2011</td>
      <td>100</td>
      <td>97</td>
    </tr>
    <tr>
      <th>638</th>
      <td>Metro-North Railroad</td>
      <td>Service Indicators</td>
      <td>Percent of the time that escalators are operat...</td>
      <td>M</td>
      <td>Escalator Availability</td>
      <td>%</td>
      <td>97.07</td>
      <td>97</td>
      <td>3</td>
      <td>2011</td>
      <td>98.86</td>
      <td>97</td>
    </tr>
    <tr>
      <th>639</th>
      <td>Metro-North Railroad</td>
      <td>Service Indicators</td>
      <td>Percent of the time that escalators are operat...</td>
      <td>M</td>
      <td>Escalator Availability</td>
      <td>%</td>
      <td>98.18</td>
      <td>97</td>
      <td>4</td>
      <td>2011</td>
      <td>98.76</td>
      <td>97</td>
    </tr>
    <tr>

In [30]:
root

In [31]:
root.get('href')

In [32]:
root.text

## Binary data formats

In [33]:
cd ../..

/Users/imc023/Documents/PycharmProjects/pydata-book/pydata-book

In [35]:
frame = pd.read_csv('ch06/ex1.csv')
print(frame)
frame.to_pickle('ch06/frame_pickle')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [36]:
pd.read_pickle('ch06/frame_pickle')

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>a</th>
      <th>b</th>
      <th>c</th>
      <th>d</th>
      <th>message</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
      <td>hello</td>
    </tr>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>6</td>
      <td>7</td>
      <td>8</td>
      <td>world</td>
    </tr>
    <tr>
      <th>2</th>
      <td>9</td>
      <td>10</td>
      <td>11</td>
      <td>12</td>
      <td>foo</td>
    </tr>
  </tbody>
</table>
</div>

### Using HDF5 format

In [38]:
store = pd.HDFStore('mydata.h5')
store['obj1'] = frame
store['obj1_col'] = frame['a']
store

<class 'pandas.io.pytables.HDFStore'>
File path: mydata.h5
/obj1                frame        (shape->[3,5])
/obj1_col            series       (shape->[3])

In [39]:
store['obj1']

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>a</th>
      <th>b</th>
      <th>c</th>
      <th>d</th>
      <th>message</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
      <td>hello</td>
    </tr>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>6</td>
      <td>7</td>
      <td>8</td>
      <td>world</td>
    </tr>
    <tr>
      <th>2</th>
      <td>9</td>
      <td>10</td>
      <td>11</td>
      <td>12</td>
      <td>foo</td>
    </tr>
  </tbody>
</table>
</div>

In [40]:
store.close()
os.remove('mydata.h5')

### Interacting with HTML and Web APIs

In [41]:
import requests
url = 'https://api.github.com/repos/pydata/pandas/milestones/28/labels'
resp = requests.get(url)
resp

In [42]:
data[:5]

[{'AGENCY_NAME': 'Metro-North Railroad',
  'CATEGORY': 'Service Indicators',
  'DESCRIPTION': 'Percent of commuter trains that arrive at their destinations within 5 minutes and 59 seconds of the scheduled time. West of Hudson services include the Pascack Valley and Port Jervis lines. Metro-North Railroad contracts with New Jersey Transit to operate service on these lines.\n',
  'FREQUENCY': 'M',
  'INDICATOR_NAME': 'On-Time Performance (West of Hudson)',
  'INDICATOR_UNIT': '%',
  'MONTHLY_ACTUAL': 96.9,
  'MONTHLY_TARGET': 95.0,
  'PERIOD_MONTH': 1,
  'PERIOD_YEAR': 2008,
  'YTD_ACTUAL': 96.9,
  'YTD_TARGET': 95.0},
 {'AGENCY_NAME': 'Metro-North Railroad',
  'CATEGORY': 'Service Indicators',
  'DESCRIPTION': 'Percent of commuter trains that arrive at their destinations within 5 minutes and 59 seconds of the scheduled time. West of Hudson services include the Pascack Valley and Port Jervis lines. Metro-North Railroad contracts with New Jersey Transit to operate service on these lines.\n',
  'FREQUENCY': 'M',
  'INDICATOR_NAME': 'On-Time Performance (West of Hudson)',
  'INDICATOR_UNIT': '%',
  'MONTHLY_ACTUAL': 95.0,
  'MONTHLY_TARGET': 95.0,
  'PERIOD_MONTH': 2,
  'PERIOD_YEAR': 2008,
  'YTD_ACTUAL': 96.0,
  'YTD_TARGET': 95.0},
 {'AGENCY_NAME': 'Metro-North Railroad',
  'CATEGORY': 'Service Indicators',
  'DESCRIPTION': 'Percent of commuter trains that arrive at their destinations within 5 minutes and 59 seconds of the scheduled time. West of Hudson services include the Pascack Valley and Port Jervis lines. Metro-North Railroad contracts with New Jersey Transit to operate service on these lines.\n',
  'FREQUENCY': 'M',
  'INDICATOR_NAME': 'On-Time Performance (West of Hudson)',
  'INDICATOR_UNIT': '%',
  'MONTHLY_ACTUAL': 96.9,
  'MONTHLY_TARGET': 95.0,
  'PERIOD_MONTH': 3,
  'PERIOD_YEAR': 2008,
  'YTD_ACTUAL': 96.3,
  'YTD_TARGET': 95.0},
 {'AGENCY_NAME': 'Metro-North Railroad',
  'CATEGORY': 'Service Indicators',
  'DESCRIPTION': 'Percent of commuter trains that arrive at their destinations within 5 minutes and 59 seconds of the scheduled time. West of Hudson services include the Pascack Valley and Port Jervis lines. Metro-North Railroad contracts with New Jersey Transit to operate service on these lines.\n',
  'FREQUENCY': 'M',
  'INDICATOR_NAME': 'On-Time Performance (West of Hudson)',
  'INDICATOR_UNIT': '%',
  'MONTHLY_ACTUAL': 98.3,
  'MONTHLY_TARGET': 95.0,
  'PERIOD_MONTH': 4,
  'PERIOD_YEAR': 2008,
  'YTD_ACTUAL': 96.8,
  'YTD_TARGET': 95.0},
 {'AGENCY_NAME': 'Metro-North Railroad',
  'CATEGORY': 'Service Indicators',
  'DESCRIPTION': 'Percent of commuter trains that arrive at their destinations within 5 minutes and 59 seconds of the scheduled time. West of Hudson services include the Pascack Valley and Port Jervis lines. Metro-North Railroad contracts with New Jersey Transit to operate service on these lines.\n',
  'FREQUENCY': 'M',
  'INDICATOR_NAME': 'On-Time Performance (West of Hudson)',
  'INDICATOR_UNIT': '%',
  'MONTHLY_ACTUAL': 95.8,
  'MONTHLY_TARGET': 95.0,
  'PERIOD_MONTH': 5,
  'PERIOD_YEAR': 2008,
  'YTD_ACTUAL': 96.6,
  'YTD_TARGET': 95.0}]

In [44]:
issue_labels = DataFrame(data)
print(issue_labels)

              AGENCY_NAME            CATEGORY  \
0    Metro-North Railroad  Service Indicators
1    Metro-North Railroad  Service Indicators
2    Metro-North Railroad  Service Indicators
3    Metro-North Railroad  Service Indicators
4    Metro-North Railroad  Service Indicators
5    Metro-North Railroad  Service Indicators
6    Metro-North Railroad  Service Indicators
7    Metro-North Railroad  Service Indicators
8    Metro-North Railroad  Service Indicators
9    Metro-North Railroad  Service Indicators
10   Metro-North Railroad  Service Indicators
11   Metro-North Railroad  Service Indicators
12   Metro-North Railroad  Service Indicators
13   Metro-North Railroad  Service Indicators
14   Metro-North Railroad  Service Indicators
15   Metro-North Railroad  Service Indicators
16   Metro-North Railroad  Service Indicators
17   Metro-North Railroad  Service Indicators
18   Metro-North Railroad  Service Indicators
19   Metro-North Railroad  Service Indicators
20   Metro-North Railroad  Service Indicators
21   Metro-North Railroad  Service Indicators
22   Metro-North Railroad  Service Indicators
23   Metro-North Railroad  Service Indicators
24   Metro-North Railroad  Service Indicators
25   Metro-North Railroad  Service Indicators
26   Metro-North Railroad  Service Indicators
27   Metro-North Railroad  Service Indicators
28   Metro-North Railroad  Service Indicators
29   Metro-North Railroad  Service Indicators
..                    ...                 ...
618  Metro-North Railroad  Service Indicators
619  Metro-North Railroad  Service Indicators
620  Metro-North Railroad  Service Indicators
621  Metro-North Railroad  Service Indicators
622  Metro-North Railroad  Service Indicators
623  Metro-North Railroad  Service Indicators
624  Metro-North Railroad  Service Indicators
625  Metro-North Railroad  Service Indicators
626  Metro-North Railroad  Service Indicators
627  Metro-North Railroad  Service Indicators
628  Metro-North Railroad  Service Indicators
629  Metro-North Railroad  Service Indicators
630  Metro-North Railroad  Service Indicators
631  Metro-North Railroad  Service Indicators
632  Metro-North Railroad  Service Indicators
633  Metro-North Railroad  Service Indicators
634  Metro-North Railroad  Service Indicators
635  Metro-North Railroad  Service Indicators
636  Metro-North Railroad  Service Indicators
637  Metro-North Railroad  Service Indicators
638  Metro-North Railroad  Service Indicators
639  Metro-North Railroad  Service Indicators
640  Metro-North Railroad  Service Indicators
641  Metro-North Railroad  Service Indicators
642  Metro-North Railroad  Service Indicators
643  Metro-North Railroad  Service Indicators
644  Metro-North Railroad  Service Indicators
645  Metro-North Railroad  Service Indicators
646  Metro-North Railroad  Service Indicators
647  Metro-North Railroad  Service Indicators

                                           DESCRIPTION FREQUENCY  \
0    Percent of commuter trains that arrive at thei...         M
1    Percent of commuter trains that arrive at thei...         M
2    Percent of commuter trains that arrive at thei...         M
3    Percent of commuter trains that arrive at thei...         M
4    Percent of commuter trains that arrive at thei...         M
5    Percent of commuter trains that arrive at thei...         M
6    Percent of commuter trains that arrive at thei...         M
7    Percent of commuter trains that arrive at thei...         M
8    Percent of commuter trains that arrive at thei...         M
9    Percent of commuter trains that arrive at thei...         M
10   Percent of commuter trains that arrive at thei...         M
11   Percent of commuter trains that arrive at thei...         M
12   Percent of commuter trains that arrive at thei...         M
13   Percent of commuter trains that arrive at thei...         M
14   Percent of commuter trains that arrive at thei...         M
15   Percent of commuter trains that arrive at thei...         M
16   Percent of commuter trains that arrive at thei...         M
17   Percent of commuter trains that arrive at thei...         M
18   Percent of commuter trains that arrive at thei...         M
19   Percent of commuter trains that arrive at thei...         M
20   Percent of commuter trains that arrive at thei...         M
21   Percent of commuter trains that arrive at thei...         M
22   Percent of commuter trains that arrive at thei...         M
23   Percent of commuter trains that arrive at thei...         M
24   Percent of commuter trains that arrive at thei...         M
25   Percent of commuter trains that arrive at thei...         M
26   Percent of commuter trains that arrive at thei...         M
27   Percent of commuter trains that arrive at thei...         M
28   Percent of commuter trains that arrive at thei...         M
29   Percent of commuter trains that arrive at thei...         M
..                                                 ...       ...
618  Percent of the time that escalators are operat...         M
619  Percent of the time that escalators are operat...         M
620  Percent of the time that escalators are operat...         M
621  Percent of the time that escalators are operat...         M
622  Percent of the time that escalators are operat...         M
623  Percent of the time that escalators are operat...         M
624  Percent of the time that escalators are operat...         M
625  Percent of the time that escalators are operat...         M
626  Percent of the time that escalators are operat...         M
627  Percent of the time that escalators are operat...         M
628  Percent of the time that escalators are operat...         M
629  Percent of the time that escalators are operat...         M
630  Percent of the time that escalators are operat...         M
631  Percent of the time that escalators are operat...         M
632  Percent of the time that escalators are operat...         M
633  Percent of the time that escalators are operat...         M
634  Percent of the time that escalators are operat...         M
635  Percent of the time that escalators are operat...         M
636  Percent of the time that escalators are operat...         M
637  Percent of the time that escalators are operat...         M
638  Percent of the time that escalators are operat...         M
639  Percent of the time that escalators are operat...         M
640  Percent of the time that escalators are operat...         M
641  Percent of the time that escalators are operat...         M
642  Percent of the time that escalators are operat...         M
643  Percent of the time that escalators are operat...         M
644  Percent of the time that escalators are operat...         M
645  Percent of the time that escalators are operat...         M
646  Percent of the time that escalators are operat...         M
647  Percent of the time that escalators are operat...         M

                           INDICATOR_NAME INDICATOR_UNIT MONTHLY_ACTUAL  \
0    On-Time Performance (West of Hudson)              %           96.9
1    On-Time Performance (West of Hudson)              %             95
2    On-Time Performance (West of Hudson)              %           96.9
3    On-Time Performance (West of Hudson)              %           98.3
4    On-Time Performance (West of Hudson)              %           95.8
5    On-Time Performance (West of Hudson)              %           94.4
6    On-Time Performance (West of Hudson)              %             96
7    On-Time Performance (West of Hudson)              %           96.4
8    On-Time Performance (West of Hudson)              %           93.7
9    On-Time Performance (West of Hudson)              %           96.4
10   On-Time Performance (West of Hudson)              %           96.9
11   On-Time Performance (West of Hudson)              %           95.1
12   On-Time Performance (West of Hudson)              %           92.6
13   On-Time Performance (West of Hudson)              %           96.8
14   On-Time Performance (West of Hudson)              %           96.9
15   On-Time Performance (West of Hudson)              %           97.1
16   On-Time Performance (West of Hudson)              %           97.8
17   On-Time Performance (West of Hudson)              %           97.3
18   On-Time Performance (West of Hudson)              %           96.7
19   On-Time Performance (West of Hudson)              %           95.7
20   On-Time Performance (West of Hudson)              %           96.1
21   On-Time Performance (West of Hudson)              %           94.8
22   On-Time Performance (West of Hudson)              %           95.7
23   On-Time Performance (West of Hudson)              %             95
24   On-Time Performance (West of Hudson)              %             98
25   On-Time Performance (West of Hudson)              %             93
26   On-Time Performance (West of Hudson)              %           96.9
27   On-Time Performance (West of Hudson)              %           98.1
28   On-Time Performance (West of Hudson)              %           97.6
29   On-Time Performance (West of Hudson)              %           97.4
..                                    ...            ...            ...
618                Escalator Availability              %             94
619                Escalator Availability              %             97
620                Escalator Availability              %           98.3
621                Escalator Availability              %           98.7
622                Escalator Availability              %           98.1
623                Escalator Availability              %            100
624                Escalator Availability              %          97.95
625                Escalator Availability              %            100
626                Escalator Availability              %            100
627                Escalator Availability              %            100
628                Escalator Availability              %            100
629                Escalator Availability              %          91.21
630                Escalator Availability              %            100
631                Escalator Availability              %            100
632                Escalator Availability              %           95.2
633                Escalator Availability              %          90.91
634                Escalator Availability              %          96.67
635                Escalator Availability              %          90.03
636                Escalator Availability              %            100
637                Escalator Availability              %            100
638                Escalator Availability              %          97.07
639                Escalator Availability              %          98.18
640                Escalator Availability              %          79.18
641                Escalator Availability              %
642                Escalator Availability              %
643                Escalator Availability              %
644                Escalator Availability              %
645                Escalator Availability              %
646                Escalator Availability              %
647                Escalator Availability              %

    MONTHLY_TARGET  PERIOD_MONTH  PERIOD_YEAR YTD_ACTUAL YTD_TARGET
0               95             1         2008       96.9         95
1               95             2         2008         96         95
2               95             3         2008       96.3         95
3               95             4         2008       96.8         95
4               95             5         2008       96.6         95
5               95             6         2008       96.2         95
6               95             7         2008       96.2         95
7               95             8         2008       96.2         95
8               95             9         2008       95.9         95
9               95            10         2008         96         95
10              95            11         2008       96.1         95
11              95            12         2008         96         95
12            96.2             1         2009       92.6       96.2
13            96.2             2         2009       94.6       96.2
14            96.2             3         2009       95.4       96.2
15            96.2             4         2009       95.9       96.2
16            96.2             5         2009       96.2       96.2
17            96.2             6         2009       96.4       96.2
18            96.2             7         2009       96.5       96.2
19            96.2             8         2009       96.4       96.2
20            96.2             9         2009       96.3       96.2
21            96.2            10         2009       96.2       96.2
22            96.2            11         2009       96.1       96.2
23            96.2            12         2009         96       96.2
24            96.3             1         2010         98       96.3
25            96.3             2         2010       95.6       96.3
26            96.3             3         2010       96.1       96.3
27            96.3             4         2010       96.6       96.3
28            96.3             5         2010       96.8       96.3
29            96.3             6         2010       96.9       96.3
..             ...           ...          ...        ...        ...
618                            7         2009      95.14
619                            8         2009      95.38
620                            9         2009       95.7
621                           10         2009         96
622                           11         2009      96.21
623                           12         2009       96.5
624             97             1         2010      97.95         97
625             97             2         2010      98.92         97
626             97             3         2010      99.29         97
627             97             4         2010      99.47         97
628             97             5         2010      99.58         97
629             97             6         2010      98.19         97
630             97             7         2010      98.46         97
631             97             8         2010      98.69         97
632             97             9         2010       98.3         97
633             97            10         2010      97.55         97
634             97            11         2010      97.47         97
635             97            12         2010      96.84         97
636             97             1         2011        100         97
637             97             2         2011        100         97
638             97             3         2011      98.86         97
639             97             4         2011      98.76         97
640             97             5         2011      90.91         97
641             97             6         2011                    97
642             97             7         2011                    97
643             97             8         2011                    97
644             97             9         2011                    97
645             97            10         2011                    97
646             97            11         2011                    97
647             97            12         2011                    97

[648 rows x 12 columns]

## Interacting with databases

In [45]:
import sqlite3

query = """
CREATE TABLE test
(a VARCHAR(20), b VARCHAR(20),
 c REAL,        d INTEGER
);"""

con = sqlite3.connect(':memory:')
con.execute(query)
con.commit()

In [46]:
data = [('Atlanta', 'Georgia', 1.25, 6),
        ('Tallahassee', 'Florida', 2.6, 3),
        ('Sacramento', 'California', 1.7, 5)]
stmt = "INSERT INTO test VALUES(?, ?, ?, ?)"

con.executemany(stmt, data)
con.commit()

In [47]:
cursor = con.execute('select * from test')
rows = cursor.fetchall()
rows

[('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5)]

In [48]:
cursor.description

(('a', None, None, None, None, None, None),
 ('b', None, None, None, None, None, None),
 ('c', None, None, None, None, None, None),
 ('d', None, None, None, None, None, None))

In [50]:
DataFrame(rows, columns=list(zip(*cursor.description))[0])

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>a</th>
      <th>b</th>
      <th>c</th>
      <th>d</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Atlanta</td>
      <td>Georgia</td>
      <td>1.25</td>
      <td>6</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Tallahassee</td>
      <td>Florida</td>
      <td>2.60</td>
      <td>3</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Sacramento</td>
      <td>California</td>
      <td>1.70</td>
      <td>5</td>
    </tr>
  </tbody>
</table>
</div>

In [51]:
import pandas.io.sql as sql
sql.read_sql('select * from test', con)

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>a</th>
      <th>b</th>
      <th>c</th>
      <th>d</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Atlanta</td>
      <td>Georgia</td>
      <td>1.25</td>
      <td>6</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Tallahassee</td>
      <td>Florida</td>
      <td>2.60</td>
      <td>3</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Sacramento</td>
      <td>California</td>
      <td>1.70</td>
      <td>5</td>
    </tr>
  </tbody>
</table>
</div>